@import "tailwindcss";

:root {
  --desa-main: #1e5631;
  --desa-light: #4ade80;
}

html {
  scroll-behavior: smooth;
}

.animation-fade {
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}